.quantity(*ngIf="quantity && query && items")
  | {{ items?.length }} results of {{ quantity }} for "{{ query }}"

.items
  .item(*ngFor="let item of items")
    app-item(
      [model]="item",
      [itemType]="1",
      (action)="onActionEmitted($event, item)"
    )
