.container
  .row
    .col.header
      a.back([routerLink]="''")
        .icon
        .text Back to collection

.container
  .row
    .col.content
      .text Search from Nasa
      .input
        app-search

  .row
    .col.results
      app-search-results([query]="query$ | async", [quantity]="quantity$ | async", [items]="items$ | async")
